@font-face {
  font-family: Allura;
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.ttf);
}

$color1: white;
$color2: black;
$color3: rgb(27, 27, 27);
$color4: rgb(166, 114, 69);
$color5: rgb(238, 238, 238);
