@import "./settings";
@import "./layouts/_header";
@import "./layouts/_nav";
@import "./layouts/_discover";
@import "./layouts/_menus";
@import "./layouts/_reservation";
@import "./layouts/_event";
@import "./layouts/_ceo_message";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

header {
  background: url(../img/backroundheader.jpg) center/cover fixed;
}
