@font-face {
  font-family: Allura;
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.ttf);
}
header {
  color: white;
  min-height: 100vh;
}
header .header-container {
  text-align: center;
  margin-top: 230px;
}
header .header-container h2 {
  color: rgb(166, 114, 69);
  font-family: Allura;
  font-size: 4rem;
  font-weight: normal;
}
header .header-container h1 {
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 3px;
  margin-top: -30px;
}
header .header-container img {
  margin-top: 30px;
}
header .header-container p {
  margin-top: 30px;
  font-family: Roboto;
  text-transform: uppercase;
  letter-spacing: 8px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 20px;
}
nav h2 {
  font-family: Allura;
  font-size: 2.5rem;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
nav li {
  list-style: none;
  font-family: Roboto;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
nav li:hover {
  color: rgb(166, 114, 69);
  cursor: pointer;
}
nav .header_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 10%;
}
nav .header_socials:hover {
  cursor: pointer;
}

.discover {
  display: grid;
  grid-template-columns: 50% 50%;
}
.discover .discover_left {
  text-align: center;
  padding: 20px;
  background-color: rgb(238, 238, 238);
}
.discover .discover_left .discover_left_container {
  border: 2px dashed rgb(166, 114, 69);
  padding: 30px 10px;
}
.discover .discover_left .discover_left_container h3 {
  color: rgb(166, 114, 69);
  font-family: Allura;
  font-size: 3rem;
  font-weight: normal;
}
.discover .discover_left .discover_left_container h4 {
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 3px;
  margin-top: -10px;
}
.discover .discover_left .discover_left_container img {
  margin-top: 30px;
}
.discover .discover_left .discover_left_container p {
  margin: 20px 10px auto 10px;
  font-family: Roboto;
}
.discover .discover_left .discover_left_container #avatar1 {
  border-radius: 100%;
  width: 10%;
}
.discover .discover_left .discover_left_container h5 {
  font-family: Poppins;
  margin-top: 10px;
  font-weight: normal;
  font-size: 1.2rem;
}
.discover .discover_left .discover_left_container #chefcock {
  margin-top: 0px;
  font-family: Poppins;
  text-transform: uppercase;
  color: gray;
}
.discover .discover_right {
  background: url(../img/discoverpage.jpg) center/cover;
  width: 100%;
  height: 100%;
}

.menu {
  background-color: rgb(27, 27, 27);
  position: relative;
  z-index: 1;
  padding-bottom: 280px;
}
.menu::after {
  content: "";
  background: url(../img/bg-menu-01.jpg) center/cover no-repeat;
  width: 100%;
  height: 620px;
  position: absolute;
  z-index: -1;
  top: 40%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
}
.menu h3 {
  color: rgb(166, 114, 69);
  font-family: Allura;
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
  padding-top: 50px;
}
.menu #menu_logo {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  margin: 40px auto 100px auto;
}
.menu ul li {
  list-style: none;
  color: white;
  font-family: Roboto;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.menu ul li::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: gray;
  position: absolute;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  left: 0%;
  top: 30px;
}
.menu ul li:hover {
  color: rgb(166, 114, 69);
  cursor: pointer;
}
.menu .menus {
  background-color: rgb(238, 238, 238);
  display: grid;
  width: 60%;
  margin: 0 auto;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.menu .menus .description {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: grid;
  grid-template-columns: 80% 20%;
  margin: 40px 20px 40px 20px;
  position: relative;
}
.menu .menus .description::after {
  content: "";
  width: 90%;
  height: 1px;
  border-bottom: 1px dashed gray;
  position: absolute;
  left: 0;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  top: 120%;
}
.menu .menus .description .price {
  font-family: Poppins;
  color: rgb(166, 114, 69);
  font-weight: normal;
  font-size: 1.3rem;
}
.menu .menus .description .description_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu .menus .description .description_left img {
  border-radius: 100%;
}
.menu .menus .description .description_left h4 {
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 0.9rem;
  margin-left: 20px;
}
.menu .menus .description .description_left p {
  font-family: Roboto;
  font-size: 1.2rem;
  margin-left: 20px;
  margin-top: 10px;
  color: gray;
}

.info_resto {
  background-color: rgb(27, 27, 27);
}
.info_resto .reservation {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 80%;
  margin: 0 auto;
}
.info_resto .reservation .reservation_left {
  text-align: center;
  background-color: black;
}
.info_resto .reservation .reservation_left .reservation_left_container {
  border: 1px dashed white;
  width: 80%;
  margin: 30px auto;
  padding-bottom: 30px;
}
.info_resto .reservation .reservation_left #time_reservation_title {
  color: rgb(166, 114, 69);
  font-family: Allura;
  font-size: 3rem;
  font-weight: normal;
  text-transform: none;
  margin-top: 20px;
}
.info_resto .reservation .reservation_left #open_reservation-title {
  text-align: center;
  font-family: Poppins;
  text-transform: uppercase;
  color: white;
  margin-top: -20px;
}
.info_resto .reservation .reservation_left img {
  margin: 30px auto;
}
.info_resto .reservation .reservation_left h2 {
  font-family: Poppins;
  text-transform: uppercase;
  color: rgb(166, 114, 69);
  font-weight: normal;
  margin-bottom: 20px;
}
.info_resto .reservation .reservation_left p {
  font-family: Roboto;
  color: white;
  margin-bottom: 40px;
}
.info_resto .reservation .reservation_right {
  padding-top: 50px;
  background-color: rgb(250, 250, 250);
}
.info_resto .reservation .reservation_right #reservation_title {
  color: rgb(166, 114, 69);
  font-family: Allura;
  font-size: 3rem;
  font-weight: normal;
  text-transform: none;
}
.info_resto .reservation .reservation_right h2 {
  text-align: center;
  font-family: Poppins;
  text-transform: uppercase;
  color: rgb(32, 32, 32);
}
.info_resto .reservation .reservation_right img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px auto;
}
.info_resto .reservation .formulaire {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 80%;
  margin: 0 auto;
}
.info_resto .reservation .formulaire .people,
.info_resto .reservation .formulaire .date,
.info_resto .reservation .formulaire .time_reservation,
.info_resto .reservation .formulaire .name,
.info_resto .reservation .formulaire .phone,
.info_resto .reservation .formulaire .mail {
  position: relative;
}
.info_resto .reservation .formulaire .people::after,
.info_resto .reservation .formulaire .date::after,
.info_resto .reservation .formulaire .time_reservation::after,
.info_resto .reservation .formulaire .name::after,
.info_resto .reservation .formulaire .phone::after,
.info_resto .reservation .formulaire .mail::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: gray;
  position: absolute;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  left: 0;
  top: 130%;
}
.info_resto .reservation .formulaire input {
  width: 200px;
  margin-top: 50px;
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
}
.info_resto .reservation .formulaire input::-webkit-input-placeholder {
  color: black;
  font-family: Poppins;
}
.info_resto .reservation .formulaire input::-moz-placeholder {
  color: black;
  font-family: Poppins;
}
.info_resto .reservation .formulaire input:-ms-input-placeholder {
  color: black;
  font-family: Poppins;
}
.info_resto .reservation .formulaire input::-ms-input-placeholder {
  color: black;
  font-family: Poppins;
}
.info_resto .reservation .formulaire input::placeholder {
  color: black;
  font-family: Poppins;
}
.info_resto .reservation .submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}
.info_resto .reservation #submit_button {
  border: none;
  background-color: black;
  border-radius: 30px;
  height: 50px;
  color: white;
  width: 200px;
  font-family: Poppins;
  font-weight: bold;
  letter-spacing: 7px;
  font-size: 1.1rem;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.info_resto .reservation #submit_button:hover {
  background-color: gray;
}

.event {
  background-color: rgb(27, 27, 27);
  padding-bottom: 100px;
}
.event #up_title {
  text-align: center;
  padding-top: 150px;
  color: rgb(166, 114, 69);
  font-family: Allura;
  font-size: 4rem;
  font-weight: normal;
}
.event #our_title {
  text-align: center;
  font-family: Poppins;
  text-transform: uppercase;
  font-size: 3rem;
  color: white;
  margin-top: -20px;
}
.event #img_fouchette_event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
}
.event .event_container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "first third" "second third";
  gap: 30px;
  width: 80%;
  margin: 0 auto;
}
.event .event1 {
  grid-area: first;
  display: grid;
  grid-template-columns: 40% 60%;
}
.event .event1 .event1_left {
  background: url(../img/event-01.jpg) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.event .event1 .event1_left .event1_left_container {
  height: 130px;
  width: 130px;
  background-color: rgb(27, 27, 27);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.event .event1 .event1_left .event1_left_container h3 {
  font-family: Roboto;
  font-size: 2rem;
}
.event .event1 .event1_left .event1_left_container h4 {
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: normal;
}
.event .event1 .event1_right {
  background-color: rgb(250, 250, 250);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  height: 250px;
}
.event .event1 .event1_right h3 {
  font-family: Roboto;
  font-weight: normal;
  margin-left: 30px;
  font-size: 1.5rem;
}
.event .event1 .event1_right .events_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.event .event1 .event1_right .events_details p {
  margin: 30px auto 30px 20px;
  color: gray;
}
.event .event1 .event1_right .events_details p i {
  margin-right: 10px;
}
.event .event1 .event1_right h4 {
  font-family: Roboto;
  margin-left: 20px;
  text-transform: uppercase;
}
.event .event1 .event1_right h4:hover {
  color: rgb(166, 114, 69);
  cursor: pointer;
}
.event .event2 {
  grid-area: second;
  display: grid;
  grid-template-columns: 40% 60%;
}
.event .event2 .event2_left {
  background: url(../img/event-02.jpg) center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
}
.event .event2 .event2_left .event2_left_container {
  height: 130px;
  width: 130px;
  background-color: rgb(27, 27, 27);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.event .event2 .event2_left .event2_left_container h3 {
  font-family: Roboto;
  font-size: 2rem;
}
.event .event2 .event2_left .event2_left_container h4 {
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: normal;
}
.event .event2 .event2_right {
  background-color: rgb(250, 250, 250);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  height: 250px;
}
.event .event2 .event2_right h3 {
  font-family: Roboto;
  font-weight: normal;
  margin-left: 30px;
  font-size: 1.5rem;
}
.event .event2 .event2_right .events_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.event .event2 .event2_right .events_details p {
  margin: 30px auto 30px 20px;
  color: gray;
}
.event .event2 .event2_right .events_details p i {
  margin-right: 10px;
}
.event .event2 .event2_right h4 {
  font-family: Roboto;
  margin-left: 20px;
  text-transform: uppercase;
}
.event .event2 .event2_right h4:hover {
  color: rgb(166, 114, 69);
  cursor: pointer;
}
.event .event3 {
  grid-area: third;
  background: url(../img/event-03.jpg) center/cover;
  padding: 20px;
}
.event .event3 .event3_container {
  background-color: rgb(250, 250, 250);
  height: 100%;
}
.event .event3 .event3_container .event3_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.event .event3 .event3_container .event3_top .event3_top_container {
  height: 130px;
  width: 130px;
  background-color: rgb(27, 27, 27);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.event .event3 .event3_container .event3_top .event3_top_container h3 {
  font-family: Roboto;
  font-size: 2rem;
}
.event .event3 .event3_container .event3_top .event3_top_container h4 {
  font-family: Roboto;
  font-size: 1.5rem;
}
.event .event3 .event3_container .event3_button {
  text-align: center;
}
.event .event3 .event3_container .event3_button h3 {
  text-align: center;
  margin-top: 15px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 1.5rem;
}
.event .event3 .event3_container .event3_button .events_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.event .event3 .event3_container .event3_button .events_details p {
  margin: 20px 5px auto 5px;
  color: gray;
}
.event .event3 .event3_container .event3_button .events_details p i {
  margin-right: 10px;
}
.event .event3 .event3_container .event3_button h4 {
  margin-top: 150px;
  font-family: Roboto;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.event .event3 .event3_container .event3_button h4:hover {
  color: rgb(166, 114, 69);
  cursor: pointer;
}

.ceo_message {
  background-color: rgb(27, 27, 27);
  padding-top: 40px;
  position: relative;
  z-index: 1;
}
.ceo_message .message::before {
  content: "";
  height: 100px;
  width: 100px;
  background: url(../img/avatar-02.jpg) center/cover;
  position: absolute;
  border-radius: 100%;
  top: 0;
  left: 47%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
}
.ceo_message .message::after {
  content: "";
  height: 600px;
  width: 100%;
  background: url(../img/gmap.jpg) center/cover;
  position: absolute;
  top: 20%;
  z-index: -1;
}
.ceo_message .message_container {
  background-color: rgb(250, 250, 250);
  width: 70%;
  margin: 0px auto;
  padding: 100px;
  text-align: center;
}
.ceo_message .message_container p {
  font-family: Roboto;
  line-height: 40px;
  font-size: 1.2rem;
}
.ceo_message .message_container h3 {
  margin-top: 40px;
  font-family: Roboto;
  font-size: 2rem;
  font-weight: normal;
}
.ceo_message .message_container h4 {
  margin-top: 20px;
  font-family: Roboto;
  color: rgb(166, 114, 69);
  font-size: 1.3rem;
  font-weight: normal;
}

footer {
  background: url(../img/bg-footer.jpg) center/cover;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 200px;
}
footer .footer_left {
  display: grid;
  grid-template-columns: 30% 70%;
}
footer .footer_left .footer_left_container {
  margin: 50px 30px 50px auto;
}
footer .footer_left .footer_left_container h2 {
  color: rgb(166, 114, 69);
  font-family: Allura;
  font-size: 3rem;
  font-weight: normal;
}
footer .footer_left .footer_left_container p {
  margin-top: 10px;
  font-family: Roboto;
  line-height: 30px;
  color: rgb(201, 201, 201);
}
footer .footer_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 70px auto 50px 30px;
  width: 70%;
}
footer .footer_right .footer_right_container h4 {
  color: white;
  font-family: Roboto;
  text-transform: uppercase;
  width: 20%;
}
footer .footer_right .footer_right_container input {
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid white;
  height: 30px;
  padding: 10px;
}
footer .footer_right .footer_right_container .socials_footer {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
footer .footer_right .footer_right_container .socials_footer .socials_footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
}

header {
  background: url(../img/backroundheader.jpg) center/cover fixed;
}/*# sourceMappingURL=index.css.map */