@import "./settings";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/discover";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

header {
  background: url(../img/backroundheader.jpg) center/cover fixed;
}
