.menu {
  background-color: $color3;
  position: relative;
  z-index: 1;
  padding-bottom: 280px;

  &::after {
    content: "";
    background: url(../img/bg-menu-01.jpg) center/cover no-repeat;
    width: 100%;
    height: 620px;
    position: absolute;
    z-index: -1;
    top: 40%;
    transform: translate(-50% -50%);
    @media screen and (max-width: 1250px){
      height: 1400px;
      top: 25%
    }
    @media screen and (max-width: 800px){
      top: 50%;
      height: 900px;
    }
  }

  h3 {
    color: $color4;
    font-family: Allura;
    font-size: 3rem;
    font-weight: normal;
    text-align: center;
    padding-top: 50px;
  }
  #menu_logo {
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
  }
  ul {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 40px auto 100px auto;
    li {
      list-style: none;
      color: $color1;
      font-family: Roboto;
      position: relative;
      transition: 0.2s;

      &::after {
        content: "";
        height: 2px;
        width: 100%;
        background-color: gray;
        position: absolute;
        transform: translate(-50% -50%);
        left: 0%;
        top: 30px;
      }
      &:hover {
        color: $color4;
        cursor: pointer;
      }
    }
  }
  .menus {
    background-color: $color5;
    display: grid;
    width: 60%;
    margin: 0 auto;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    @media screen and (max-width: 1250px){
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .description {
      align-items: center;
      display: grid;
      grid-template-columns: 80% 20%;
      margin: 40px 20px 40px 20px;
      position: relative;

      &::after {
        content: "";
        width: 90%;
        height: 1px;
        border-bottom: 1px dashed gray;
        position: absolute;
        left: 0;
        transform: translate(-50% -50%);
        top: 120%;
      }

      .price {
        font-family: Poppins;
        color: $color4;
        font-weight: normal;
        font-size: 1.3rem;
        @media screen and (max-width: 800px){
          font-size: 0.9rem;
        }
        @media screen and (max-width: 600px){
          font-size: 0.7rem;
          margin-left: 10px;
        }
      }
      .description_left {
        display: flex;
        justify-content: start;
        align-items: center;
        img {
          border-radius: 100%;
        }
        h4 {
          text-transform: uppercase;
          font-family: Roboto;
          font-size: 0.9rem;
          margin-left: 20px;
          @media screen and (max-width: 800px){
            font-size: 0.7rem;
          }
          @media screen and (max-width: 600px){
            font-size: 0.5rem;
          }
        }
        p {
          font-family: Roboto;
          font-size: 1.2rem;
          margin-left: 20px;
          margin-top: 10px;
          color: gray;
          @media screen and (max-width: 800px){
            font-size: 0.9rem;
          }
          @media screen and (max-width: 600px){
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}
